.grid-container {
    display: grid;
    height: inherit;
    font-size: 2rem;
}

.grid-item {
    display: grid;
    align-items: center;
    justify-items: center;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .grid-container {
        grid-template-rows: repeat(2, 1fr)
                            repeat(2, 3fr)
                            repeat(3, 2fr);
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(11, 1fr);
    }

    .header {
        grid-area: 1 / 1 / 2 / -1;
    }

    .nav {
        grid-area: 5 / 1 / -1 / 2;
    }

    .hero {
        grid-area: 2 / 1 / 5 / -1;
    }

    .main {
        grid-area: 5 / 2 / 8 / -1;
    }

    .banner {
        grid-area: 8 / 2 / 10 / -1;
    }

    .extra {
        grid-area: 10 / 2 / -1 / 4;
    }

    .image {
        grid-area: 10 / 4 / -1 / -1;
    }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    .header {
        grid-area: 1 / 1 / 2 / 2;
    }

    .nav {
        grid-area: 1 / 2 / 2 / -1;
    }

    .hero {
        grid-area: 2 / 1 / 7 / -1;
    }

    .main {
        grid-area: 7 / 1 / 11 / 3;
    }

    .banner {
        grid-area: 11 / 1 / -1 / -1;
    }

    .extra {
        grid-area: 9 / 4 / 11 / -1;
    }

    .image {
        grid-area: 7 / 4 / 9 / -1;
    }
}

.header {
    background-color: #0e1629;
}

.nav {
    background-color: #f03d4d;
}

.hero {
    background-color: #4d86c6;
}

.main {
    background-color: #24354b;
}

.banner {
    background-color: #fed168;
    color: #000;
}

.extra {
    background-color: #4dbd98;
    color: #000;
}

.image {
    background-color: #c1e4e7;
    color: #000;
}
